<div class="row">
	<div class="col-md-12">
		<h3>Notes under <%= @tag.name %></h3>
	</div>
	<div class="col-md-12">
		<div class="row">
		<% @notes.each do |note| %>
			<%= render_note_widget(note) %>
		<% end %>
		</div>
	</div>
</div>